
/*2012 eBay Store CSS - TruSky.com - Copyright 2012 */

@import url("http://www.advancedebaydesigns.com/global/global2013.%63ss");

@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100);

/*Store Specific*/

.lev1 {
  list-style: none;
  margin-left: -35px;
}

#top-bar{
  background-color: #000000;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

#top-bar #logo{
  flex: 1;
  max-width: 320px;
}

#top-bar #logo a img{
  max-width: 100%;
}

#top-bar .search-form form{
  display: flex;
  min-height: 30px;
}

#top-bar .search-form form #search-text{
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 5px;
}

#top-bar .newsletter {
  background: #0e7a57;
  padding: 5px;
  border-radius: 4px;
}

#top-bar .newsletter a #newsletter-a{
  color: #ffffff;
  font-size: 15px;
}

#top-bar .top-menu {
  flex: 1;
}

#top_area {
  display: none;
  border-radius: 5px;
  background: #fff;
  width: 980px;
  height: 430px;
}

#bottom_area {
  font-family: "Lato";
  font-weight: bold;
  font-size: 19px;
  color: #8a4611;
}

#tru_banner {
  width: 979px;
  display: none;
  height: 316px;
  overflow: hidden;
}

#tru_banner img {
  border-radius: 5px;
}

#CentralArea {
  background: #fff;
  border-radius: 5px;
}

.v4bc, .v4sem {
  visibility: hidden;
}

#LeftPanel .bin {
  color: #000;
  font-family: "Lato",sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 55px;
}

.ttl img.before, .time2, .v4footd {
  display: none;
}

td#CentralArea div.v4stabl {
  padding-bottom: 3px;
  position: relative;
  top: 13px;
}

div.lcat {
  font-size: small;
  width: 190px;
}


table.gallery div.ttl a {
color: #808080 !important;
display: block !important;
font-size: 12px;
font-weight: bolder;
height: 100px !important;
margin-bottom: -43px;
padding: 5px;
position: relative;
top: -15px;
}

#sidecats {
  top: 540px;
  z-index: 10000;
}

#gh-title {
  display: none;
}


/*Category Gallery Back*/

#CentralArea .grid td.gallery table.gallery {
  background: url("gallery-bg.png") no-repeat scroll center top transparent !important;
  border: 0 none !important;
  height: 264px !important;
  overflow: hidden;
  width: 234px !important;
}

#CentralArea table.gallery table.fixed {
  background: url("https://cdn.shopify.com/s/files/1/0916/0836/files/buyNow.png?9630165311447262519") no-repeat scroll right center transparent;
  height: 34px !important;
  margin-top: 0;
  width: 214px !important;
}

#CentralArea table.gallery table.fixed img, #CentralArea img.iippl, #CentralArea .fixed .clr {
display: none !important;
}

table.gallery div.ttl a {
display: block !important;
height: 90px !important;
margin-bottom: -43px;
padding: 5px;
}

table.gallery div.ttl a {
  cursor: pointer;
  position: relative !important;
}

#CentralArea .fixed .bin {color: #fff !important; font-size: 16px !important; position: relative; top: 7px; left: 10px;}

.rs-pview {
padding: 0px !important;
}

div.itemseparator {
display: none;
}

.grid td.gallery {
  border: 1px solid #151515;
}

.disct, .oriprs {
display: none;
}


/*Category Gallery Back*/

.g-pipe, .coreFooterLegalNotice {
padding:5px;
}

#LeftPanel {
  background: url('leftpanelback.png')
}

#custompage {

}


#custompage2 {
  font-family: "Lato"
  font-size: 15px;
  line-height: 22px;
  color: #555;
  padding: 18px;
}

#custompage a {
  text-decoration: none;
}

#custompage img {
  transition: all ease-in 0.3s;
  margin: 3px;
}

#custompage img:hover {
  opacity: 0.66;
}


.gh-mn {
background: #fff;
}

.gh-mn img {
display: none;
}

.stBadge {
display: none;
}

#mid_nav_bar a {
display: block;
float: left;
}

#mid_nav_bar {
margin-top: -15px;
}

#mid_nav_bar img {
border: none;
}

.v4bc, .v4bc a:link,.v4bc a:visited, .v4sem, .v4sem a:link{
color: #fff !important
}

.v4stabl, .v4stabl a:link, .v4stabl a:visited, #gh-title {color: #777 !important;}

.pagelayout {
background: url('bottomfoot.png') bottom center no-repeat;
padding-bottom: 0px; 
}

.v4snexp {
background: #fff;
padding: 10px;
}

/*Store Specific*/

body {
color:#000;
background: url('bg.png') center 86px repeat-x #ededed;
}

body a:link,body .g-novisited a:visited {
color:#2D2D2D !important;
}

.coreFooterLinks a:active, .coreFooterLinks a:focus, .coreFooterLinks a:hover, .coreFooterLinks a:link, .coreFooterLinks a:visited {
color: #2d2d2d  !important;
}

#head {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  position: relative;
  width: 980px;
}

#tru_banner div, #tru_banner img, #tru_banner a {

}

#centerbanner {
margin-top: 92px;
}

.fpcc .countClass,span.pdmt .cur {
color:#2d2d2d !important;
}

.r3,#storercp_mide {
}

.r3_hm, .r3_c, .r3_s {
border: none !important;
}

.r3_t, .r3_bl {
display: none;
}
table.v4acpcont {
width:210px !important;
}

#LeftPanel {
  width: 210px !important;
  border-radius: 8px;
}

#link {
color:#777;
display:block;
font-size:12px;
height:22px;
width:200px;
}

#link strong,#link a,#cntrclm,#cntrclm a {
color:#777;
}

td.v4mid {

}

.v4nl .cb {padding: 10px;}

table.v4midBox {
border: none !important;
background: #fff;
}

.cdactive {
background: transparent !important;
}

.cd-e, .cd-s {
display: none;
}

.cd-mid {
margin-bottom: 10px;
}

#logo {
left: 0px;
top: 0px;
}

#logo img {
display:inline;
border:0;
}

#ebayfeedback {
  color: #777777 !important;
  width: 515px;
  position: relative;
  bottom: -23px;
  left: 575px;
}

.cdoringe {color: #0b1c25;}

#head .mbg a,#head  .mbg span,#head  .mbg-l a, #head #ebayfeedback, #ebayfeedback a {
color: #777 !important;
}

#LeftPanel table.gallery, #LeftPanel table.v4nl td {
padding: 10px;
}

.v4vspacer, .lcat a.all_cats {
display:none;
}

#AdvSearchId {
display: none;
}

#ebayfeedback a {
color:#252525 !important;
font-weight:700;
}

#ebayfeedback img {
display:inline;
}

#social_icons {
width:126px;
height:59px;
}

.lev1 li a, .lev1 li a:visited {
background: rgba(0, 0, 0, 0) url("linkoff.png") repeat scroll 0 0;
color: #000 !important;
display: block;
font-family: "Lato",serif;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;
text-indent: 7px;
width: 210px;
border-bottom: 1px solid #d0d0d0;
}

.lev1 li a:hover, .lev1 li span {
  background: url('linkon.png') center center;
  text-decoration: underline;
  font-family: 'Lato',serif;
  width: 210px;
  border-bottom: 1px solid #d0d0d0;
}

.lev1 li {
height:31px;
}

.lev1 li span {
display:block;
height:30px;
font-size: 14px;
text-indent: 7px;
line-height:30px;
}

.lcat .lev1 li {
margin:0 !important;
}

.lev2 li a {
background-image:none !important;
}

.lev2 li a:hover {
text-decoration:underline !important;
}

.lev2 li span.cnt {
color: #2d2d2d;
display: none;
left: 160px;
position: relative;
top: -30px;
}

.lev2 li a:link, .lev2 li a:hover, .lev2 li a:visited {
height: 30px;
width: 160px;
display: block;
color: #2d2d2d !important;
}

.lcat .lev2 {
display: block;
}


table.v4acp tr.v4acp_head td.v4title {
  width:210px;
  height:30px;
  background:url('boxheader.png');
  line-height:30px;
  text-indent:45px;
  padding:none !important;
}

.v4title h2, .v4title font {
font-size:14px !important;
color: #FFFFFF;
background-color: #151515;
text-transform: capitalize;
}

table.v4clp {
padding:10px;
}

table.v4clp a {
color:#2d2d2d !important;
font-weight:700;
font-size:11px !important;
}

.pagecontainer {
margin-left:auto;
margin-right:auto;
width:980px;
}

.v4baccent {
display: none;
}

#top_menu {
  height: 40px;
  width: 200px;
  z-index: 1000;
}

#top_menu a, #top_menu a:visited, #top_menu a:link {
color: #fff !important;
display: block;
float: left;
font-family: "Lato",serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: bolder;
height: 40px;
line-height: 40px;
padding-left: 0px;
padding-right: 15px;
text-align: center;
text-decoration: none;
transition: all 0.3s ease-in 0s;
}

#top_menu a:hover {
color: orange !important;
}

#button_hldr {
margin-left:0;
}

#searchgo {
  border: none;
  border-radius: 0px 4px 4px 0px;
  font-weight: 700;
  color: white;
  background-color: #0e7a57;
}

#topquery {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #555;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: 25px;
  padding: 6px;
  text-indent: 10px;
  top: 19px;
  width: 256px;
}

#seo,.lcat .link,.lcat .cnt,.lcat .ttl {
display:none;
}

table.v4midBox tr.v4acp_mid td.v4mid,.v4title {
padding:0 !important;
}
