.theme-default #slider {
    width:980px; /* Make sure your images are the same size */
    height:316px; /* Make sure your images are the same size */
    position: relative;
    margin-bottom: 10px;
}